<div class="w-screen h-screen bg-oceanie">
    <app-zone-clickable [idZone]="'test_click'" (divClicked)="handleDivClick($event)" 
        [position]="{ top: 500, left: 1100 }" 
        [taille]="{ width: 400, height: 350 }">
    </app-zone-clickable>

    <app-zone-clickable [idZone]="'test_click2'" (divClicked)="handleDivClick($event)" 
        [position]="{ top: 250, left: 400 }" 
        [taille]="{ width: 200, height: 150 }">
    </app-zone-clickable>

    <ng-container *ngIf="this.jsonData.length > 0 && this.jsonData[this.currentMessage].texte">
        <app-bulle (divClicked)="cross()" [messageObject]="this.jsonData[this.currentMessage]"></app-bulle>
    </ng-container>
</div>