@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-premiere-scene {
    background-image: url('/assets/scenes/premiere-scene-pere-noel/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}