<div class="w-screen h-screen bg-carte">
    <app-zone-clickable id="usa" class="block" [idZone]="'usa'" (divClicked)="handleDivClick($event)"
        [position]="{ top: 250, left: 400 }" [taille]="{ width: 200, height: 150 }">
    </app-zone-clickable>
    <div id="map-usa" class="hidden">
        <div class="hover:cursor-pointer croix" (click)="closeIframe()">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="white" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </div>
        <iframe style="width: 80%; height: 800px; border: 0px none;"
            src="https://ourworldindata.org/grapher/co2-emissions-aviation"></iframe>
    </div>

    <app-zone-clickable id="chine" class="block" [idZone]="'chine'" (divClicked)="handleDivClick($event)"
        [position]="{ top: 300, left: 1280 }" [taille]="{ width: 200, height: 150 }">
    </app-zone-clickable>
    <div id="map-chine" class="hidden">
        <div class="hover:cursor-pointer croix" (click)="closeIframe()">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="white" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </div>
        <iframe style="width: 80%; height: 800px; border: 0px none;"
            src="https://ourworldindata.org/grapher/co-emissions-per-capita"></iframe>
    </div>

    <app-zone-clickable id="bresil" class="block" [idZone]="'bresil'" (divClicked)="handleDivClick($event)"
        [position]="{ top: 470, left: 600 }" [taille]="{ width: 200, height: 150 }">
    </app-zone-clickable>
    <div id="map-bresil" class="hidden">
        <div class="hover:cursor-pointer croix" (click)="closeIframe()">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="white" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </div>
        <iframe style="width: 80%; height: 800px; border: 0px none;"
            src="https://ourworldindata.org/grapher/annual-deforestation"></iframe>
    </div>

    <app-zone-clickable id="oceanie" class="block" [idZone]="'oceanie'" (divClicked)="handleDivClick($event)"
        [position]="{ top: 470, left: 1350 }" [taille]="{ width: 200, height: 150 }">
    </app-zone-clickable>
    <div id="map-oceanie" class="hidden">
        <div class="hover:cursor-pointer croix" (click)="closeIframe()">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="white" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </div>
        <iframe style="width: 80%; height: 800px; border: 0px none;"
            src="https://ourworldindata.org/grapher/global-marine-protected-area"></iframe>
    </div>

    <app-zone-clickable id="arctique" class="block" [idZone]="'arctique'"
        (divClicked)="handleDivClick($event)" [position]="{ top: 90, left: 650 }"
        [taille]="{ width: 200, height: 150 }">
    </app-zone-clickable>
    <div id="map-arctique" class="hidden">
        <div class="hover:cursor-pointer croix" (click)="closeIframe()">
            <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="white" class="bi bi-x"
                viewBox="0 0 16 16">
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </div>
        <iframe style="width: 80%; height: 800px; border: 0px none;"
            src="https://ourworldindata.org/grapher/antarctic-ozone-hole-area"></iframe>
    </div>


    <ng-container *ngIf="this.jsonData.length > 0 && this.jsonData[this.currentMessage].texte">
        <app-bulle (divClicked)="cross()" [messageObject]="this.jsonData[this.currentMessage]"></app-bulle>
    </ng-container>

</div>