<div class="w-screen h-screen bg-usa">
    <app-zone-clickable [idZone]="'voitures'" (divClicked)="handleDivClick($event)" 
        [position]="{ top: 600, left: 100 }" 
        [taille]="{ width: 1700, height: 350 }">
    </app-zone-clickable>

    <app-zone-clickable [idZone]="'pollution'" (divClicked)="handleDivClick($event)" 
        [position]="{ top: 100, left: 400 }" 
        [taille]="{ width: 1000, height: 500 }">
    </app-zone-clickable>

    <ng-container *ngIf="this.jsonData.length > 0 && this.jsonData[this.currentMessage].texte">
        <app-bulle (divClicked)="cross()" [messageObject]="this.jsonData[this.currentMessage]"></app-bulle>
    </ng-container>
</div>